app.prop = {

	// URL del WebService
	restBaseUrl: 	'http://API_IP:API_PORT/',
	// Idioma por defecto
	idiomaDefault: 	'es_AR',
	// Link de la web de la empresa
	linkLogoEmp: 	'',
	// Si se integra con PalJet ERP
	paljet: true,
	//Google api key
	googleApiKey: ''	

};
